name: Unit tests
on:
  push:
    branches: [ develop, main ]
  pull_request:
    branches: [ develop ]
  schedule:
    - cron: '40 12 * * 0'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '12.x'
          registry-url: 'https://registry.npmjs.org'
      - run: npm install
      - run: npm test
